
.datepicker-row, .location {
    margin-top:30px;
}

.pictures {
    margin-top:15px;
}

.datepicker-row input {
    margin-left: 10px;
    margin-right: 10px;
}

.tether-target, input {
    float:left;
}
